<h1 *ngIf="data.elements.length > 1" mat-dialog-title>Удаление бронирований</h1>
<h1 *ngIf="data.elements.length == 1" mat-dialog-title>
  Удалить бронирование №{{data.elements[0].id}}</h1>
<div *ngIf="data.elements.length > 1" mat-dialog-content>
  <span>Удалить указанные бронирования?</span>
  <ul class="mt-3">
    <li *ngFor="let item of data.elements">
      №{{item.id}}: {{getBookingObjectsDisplay(item.booking_objects)}} {{'с ' + (item.start | date:'dd.MM.YYYY HH:mm')}}
      {{'по ' + (item.end | date:'dd.MM.YYYY HH:mm')}}{{', ' + item.price + ' р.'}}
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="confirmRemove()">Удалить</button>
  <button mat-flat-button (click)="dialogRef.close(false)">Отмена</button>
</div>
