<h1 mat-dialog-title>
  {{isUpdate ? 'Редактирование' : 'Создание'}} категории{{isUpdate ? ' "' + data.element?.title + '"' : '' }}
</h1>
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="standard" [formGroup]="form" class="col">
      <mat-label>Название</mat-label>
      <input matInput [formControlName]="'title'" [maxLength]="80" required>
      <mat-error *ngIf="form.controls.title.invalid || serverErrors?.title">
        {{serverErrors?.title && serverErrors?.title[0] || 'Это поле не может быть пустым.'}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">Сохранить</button>
  <button mat-flat-button (click)="dialogRef.close(false)">Отмена</button>
</div>
