<div class="container-fluid">
  <div class="row" [formGroup]="filtersForm">
    <mat-form-field appearance="standard" class="col-6 col-md-4">
      <mat-label>Тип объекта</mat-label>
      <mat-select formControlName="booking_object_type">
        <mat-option *ngFor="let elem of objectTree" value="{{elem.id}}">{{elem.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" class="col-6 col-md-4">
      <mat-label>Объекты</mat-label>
      <mat-select formControlName="booking_objects" [multiple]="true">
        <mat-option *ngFor="let elem of bookingObjects" value="{{elem.id}}">
          {{elem.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-6 col-md-4 d-flex">
      <button mat-raised-button (click)="openCreateReservationDialog()"
              class="add-reservation-button my-2 w-100 align-self-center">
        <mat-icon>add</mat-icon>Создать бронирование
      </button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>

<div class="container-fluid">
  <div class="row d-flex text-center mt-3 mb-3">
    <div class="col-6 col-sm-4">
      <div class="btn-group">
        <button mat-stroked-button color="primary"
                class="btn" mwlCalendarPreviousView
                [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="handleViewDateChange()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-stroked-button color="basic"
                class="btn" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="handleViewDateChange()">
          Сегодня
        </button>
        <button mat-stroked-button color="primary"
                class="btn" mwlCalendarNextView
                [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="handleViewDateChange()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'ru':1 }}</h2>
    </div>
    <div class="col-6 col-sm-4">
      <div class="btn-group">
        <button mat-stroked-button color="{{view === CalendarView.Month ? 'primary': 'basic' }}"
                class="btn" (click)="setView(CalendarView.Month)">
          Месяц
        </button>
        <button mat-stroked-button color="{{view === CalendarView.Week ? 'primary': 'basic' }}"
                class="btn" (click)="setView(CalendarView.Week)">
          Неделя
        </button>
        <button mat-stroked-button color="{{view === CalendarView.Day ? 'primary': 'basic' }}"
                class="btn" (click)="setView(CalendarView.Day)">
          День
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #cellTemplate
             let-day="day"
             let-locale="locale"
             let-highlightDay="highlightDay"
             let-unhighlightDay="unhighlightDay"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate">
  <div class="cal-cell-top">
    <span class="cal-day-number">
      {{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events">
    <div *ngFor="let dayEvent of transformDayEvents(day)"
         class="cal-event d-flex justify-content-center">
      <div *ngIf="dayEvent.count || !dayEvent.events" [mwlCalendarTooltip]="getCompositeTooltipTitle(dayEvent.events || [], dayEvent.obj)"
           [ngClass]="{ 'cal-event-empty': !(dayEvent.events || dayEvent.count), 'bg-grey': !!dayEvent.count }"
           class="w-100 h-100 rnd d-flex justify-content-center align-items-center">{{ dayEvent.count || '' }}</div>
      <div *ngIf="!dayEvent.count && dayEvent.events && dayEvent.events.length == 1"
           [style.backgroundColor]="dayEvent.events[0].color?.primary"
           (mouseenter)="highlightDay.emit({ event: dayEvent.events[0] })"
           (mouseleave)="unhighlightDay.emit({ event: dayEvent.events[0] })"
           [mwlCalendarTooltip]="getCompositeTooltipTitle(dayEvent.events, dayEvent.obj)"
           (mwlClick)="eventClicked.emit({ event: dayEvent.events[0] })"
           class="w-100 h-100 rnd"></div>
      <div *ngIf="!dayEvent.count && dayEvent.events && dayEvent.events.length > 1" class="d-flex w-100 h-100">
        <div *ngFor="let event of dayEvent.events; let ind = index"
             (mouseenter)="highlightDay.emit({ event: event })"
             (mouseleave)="unhighlightDay.emit({ event: event })"
             [mwlCalendarTooltip]="getCompositeTooltipTitle([event], dayEvent.obj)"
             (mwlClick)="eventClicked.emit({ event: event })"
             [style.backgroundColor]="event.color?.primary"
             [ngClass]="{'marker-left': ind > 0, 'rnd-left': ind === 0, 'rnd-right': ind === dayEvent.events.length - 1}"
             class="h-100 w-100"></div>
      </div>
    </div>
  </div>
</ng-template>

<div [ngSwitch]="view" class="m-2">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [locale]="'ru'"
    [weekStartsOn]="1"
    [events]="events"
    [refresh]="refresh"
    [cellTemplate]="cellTemplate"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="openReservationDialog($event.event.id)"></mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [locale]="'ru'"
    [hourSegments]="1"
    [weekStartsOn]="1"
    [refresh]="refresh"
    (eventClicked)="openReservationDialog($event.event.id)"></mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [locale]="'ru'"
    [refresh]="refresh"
    (eventClicked)="openReservationDialog($event.event.id)"></mwl-calendar-day-view>
</div>
